<%- include('header') %>

        <div class="container my-4">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3>About Page</h3>
                    <img src="/images/1.jpg" class="img-thumbnail" />
                </div>
            </div>
        </div>
        <%- include('footer') %>