<%- include('header') %>

<div class="container my-4">
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3>Home Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eaque perspiciatis, facere dignissimos qui nulla dolores saepe ex optio amet possimus, eligendi suscipit sapiente sit fuga, recusandae dolor. Obcaecati, tempore.</p>
    </div>
</div>
</div>
<%- include('footer') %>