<%- include('../includes/header')  %>
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12 mt-5" >
            <h3>contact page</h3>


                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia delectus aliquam deleniti nostrum quis eveniet, quisquam harum architecto minus quidem. Animi quo cupiditate, molestiae tempora mollitia sequi hic voluptates rem!
                 </p>
        </div>
    </div>
</div>
 

<%- include('../includes/footer')  %>