<%- include('../includes/header')  %>
<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12 mt-5" >
            <h3>policy</h3>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam sapiente, perspiciatis ducimus fugiat nostrum, suscipit, nesciunt aliquid dolore maxime odit obcaecati quisquam libero ea sit vitae provident! Facilis, officiis.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam sapiente, perspiciatis ducimus fugiat nostrum, suscipit, nesciunt aliquid dolore maxime odit obcaecati quisquam libero ea sit vitae provident! Facilis, officiis.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam sapiente, perspiciatis ducimus fugiat nostrum, suscipit, nesciunt aliquid dolore maxime odit obcaecati quisquam libero ea sit vitae provident! Facilis, officiis.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam sapiente, perspiciatis ducimus fugiat nostrum, suscipit, nesciunt aliquid dolore maxime odit obcaecati quisquam libero ea sit vitae provident! Facilis, officiis.</p>
        </div>
    </div>
</div>


<%- include('../includes/footer')  %>                       